@charset "UTF-8";

/*---共通部分---*/

html{
    font-size: 100%;
    background: #2e3042;
}
body{
    font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    font-size: 150%;
    line-height: 1.7;
    color: #F8F8F8;
    background-image: 
}

.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#1e1e1e;
  z-index:9999;
}

.shutter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #dcd0e7;
  width: 0;
  height: 1px;
}

.shutter {
  -webkit-animation: byeShutter 1s forwards;
          animation: byeShutter 1s forwards;
}

.shutter::before {
  -webkit-animation: shutterOpen 1s forwards;
          animation: shutterOpen 1s forwards;
}

.content {
  -webkit-animation: contentScale 1s forwards;
          animation: contentScale 1s forwards;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes shutterOpen {
  0% {
    width: 0;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes contentScale {
  70% {
    -webkit-transform: perspective(800px) scale(0.9) rotateX(15deg);
            transform: perspective(800px) scale(0.9) rotateX(15deg);
  }
  100% {
    -webkit-transform: perspective(800px) scale(1) rotateX(0);
            transform: perspective(800px) scale(1) rotateX(0);
  }
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #77e4ff;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: rgb(253, 253, 253);
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 20%;
	}
}

/*パンくず*/
.breadcrumb {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: black;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #40ff8f;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/*index*/
.indexmein p{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.index1{
  position: relative;
	font-size: 30px;
}

.welcome{
  font-family: neon;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    font-size: 80px;
  text-align: center;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 20%;
	}
}


/*profile*/
.profilemein{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.profilemein a{
  color: #dcd0e7;
}

.profilemein a:hover{
  color: #080325;
}

.in-img2{
  float: right;
  width: 300px;
  height: auto;
  margin-left: 20px;
}

.in-img3{
  float: right;
  width: 150px;
  height: auto;
  margin-left: 20px;
}

.profile1{
  position: relative;
	font-size: 30px;
}

.profile1:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: solid 2px #000;
	animation: border_anim 3s linear forwards;
}


@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 20%;
	}
}
/*favorite01*/
.favoritemein{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.favorite1{
  position: relative;
	font-size: 30px;
}

.favorite1:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: solid 2px #000;
	animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 30%;
	}
}

.in-img{
  float: right;
  width: 500px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 50px;

}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.box1 h3 {
  margin: 0; 
  padding: 0;
}

/*favorite02*/
.favorite2mein{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}


.favorite2{
  position: relative;
	font-size: 30px;
}

.favorite2:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: solid 2px #000;
	animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 30%;
	}
}

/*iit*/
.iitmein{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.iit1{
  position: relative;
	font-size: 30px;
}

.iit1:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: solid 2px #000;
	animation: border_anim 3s linear forwards;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: black;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  font-size: 20px;
  background-color: #141E61;
  padding: 10px 0;
}

.box2{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
}
.box2 p {
  margin: 0; 
  padding: 0;
}

.url{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iitmein a{
  font-size:20px;
  color: #000;
}

.iitmein a:hover {
	opacity: 0.4;
}

/*side menu*/
.MENU1{
  display: block;
  float: right;
  margin-top: 50px;
  margin-right: 80px;
  position: sticky;
  top: 25px;
}

.MENU1 a{
  color: #dcd0e7;
}

.MENU1 a:hover {
	color: #080325;
}

/*footer*/
#footer{
  width: 100%;
  height: 100px;
  background-color: #000000;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

copyright{
  color: #FFFFFF;
}

/*header*/

.paripari {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/neon.png);
    height: 550px;
  }
  
  .paripariparipari {
    font-family: futura, sans-serif;
    font-size: 120px;
    color: #dcd0e7;
    font-weight: bold;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d544ff, 0 0 0.5em #d544ff, 0 0 0.1em #d544ff, 0 10px 3px transparent;
  }
  .paripariparipari span {
    color: #dcd0e7;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d544ff, 0 0 0.5em #d544ff, 0 0 0.1em #d544ff, 0 10px 3px transparent;
    -webkit-animation: paripari 3500ms infinite linear;
            animation: paripari 3500ms infinite linear;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.list{
  background-color: black;
  text-align: center;
}

.list a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 60px 40px 60px 40px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-left: 90px;
   
}
.list a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.list a:nth-child(1){
    filter: hue-rotate(270deg);
}
.list a:nth-child(2){
    filter: hue-rotate(110deg);
}
.list a span{
    position: absolute;
    display: block;
}
.list a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.list a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.list a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.list a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
  /*.list ul {
    text-align: center;
    margin-left: -10px;
    font-size: 0;
    background: #141E61;
  }

  .list ul li{
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
  }

  .list ul li a{
    color:rgb(157, 255, 0);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d544ff, 0 0 0.5em #d544ff, 0 0 0.1em #d544ff, 0 10px 3px transparent;
  }*/

  @-webkit-keyframes paripari {
    0% {
      color: inherit;
      text-shadow: inherit;
    }
    
    70% {
      color: inherit;
      text-shadow: inherit;
    }
    71% {
      color: #514f53;
      text-shadow: none;
    }
    72% {
      color: inherit;
      text-shadow: inherit;
    }
    73% {
      color: inherit;
      text-shadow: inherit;
    }
    74% {
      color: #514f53;
      text-shadow: none;
    }
    75% {
      color: inherit;
      text-shadow: inherit;
    }
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    80% {
      color: #514f53;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    100% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  
  @keyframes paripari {
    0% {
      color: inherit;
      text-shadow: inherit;
    }
    20% {
        color: inherit;
        text-shadow: inherit;
      }
      21% {
        color: #514f53;
        text-shadow: none;
      }
      22% {
        color: inherit;
        text-shadow: inherit;
      }
    
      40% {
        color: inherit;
        text-shadow: inherit;
      }
      43% {
        color: #514f53;
        text-shadow: none;
      }
      47% {
        color: inherit;
        text-shadow: inherit;
      }
    70% {
      color: inherit;
      text-shadow: inherit;
    }
    71% {
      color: #514f53;
      text-shadow: none;
    }
    72% {
      color: inherit;
      text-shadow: inherit;
    }
    73% {
      color: inherit;
      text-shadow: inherit;
    }
    74% {
      color: #514f53;
      text-shadow: none;
    }
    75% {
      color: inherit;
      text-shadow: inherit;
    }
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    80% {
      color: #514f53;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    100% {
      color: inherit;
      text-shadow: inherit;
    }
  }

  